<div class="vw-section">
  <div class="wrapper">

    <div class="layer-media">
      <ec-pic
        [srcLow]= '" assets/images/cover/cover-compress-vga.jpg" '
        [srcMid]= '" assets/images/cover/cover-compress-hd.jpg" '
        [srcHigh]= '" assets/images/cover/cover-compress-4k.jpg" '>
      </ec-pic>
    </div>

    <div class="layer-color">
    </div>

    <div class="layer-content">
      <div class="logo">
        <img class="logo-title" src="../../../assets/images/logo-text.png">
        <img class="logo-subtitle"
          src="../../../assets/images/logo-subtitle.png">
      </div>

      <div class="next-button">
        <img src="../../../assets/images/next-button.png">
      </div>

    </div>

  </div>
</div>


<div class="vw-section">
  <div class="gallery">

    <div *ngFor="let tile of tiles;let k = index" class="tile">

        <div *ngIf="tile.name" class="tile-content" (click) = "openModal(k)">
            <img class="icon" [src] = "tile.icon" >
            <hr>
            <h2>{{tile.name}}</h2>
        </div>
        <div *ngIf="!tile.name" class="tile-content" (click) = "openModal(k)">
            <img [src]="tile.src">
        </div>


    </div>
  </div>


</div>

<div class="vw-section vw-modal" *ngIf="UX.HOVER">

    <div class="button-close" (click) = "UX.HOVER = false">
        <i class="fas fa-times-circle"></i>
    </div>

  <swiper [config]="config" [index]="index">
    <div *ngFor="let tile of tiles;let k = index" class="tile">

      <div class="modal-slide">
        <div *ngIf="tile.name" class="tile-content">
              <img class="icon" [src] = "tile.icon" >
              <hr>
              <h2>{{tile.name}}</h2>
        </div>
        <div *ngIf="!tile.name" class="tile-content" >
              <img [src]="tile.src" >
        </div>
      </div>

      </div>
  </swiper>
</div>
